/* 폰트 */
@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body {
  font-family: 'Nanum Myeongjo', sans-serif;
}
h5.MuiTypography-root-64 {
  font-family: 'Nanum Myeongjo', sans-serif;
}

.jss80 {
  font-family: 'Nanum Myeongjo', sans-serif;
}

li.MuiButtonBase-root-48 {
  font-family: 'Nanum Myeongjo', sans-serif;
}
table {
  font-family: 'Nanum Myeongjo', sans-serif;
}
th {
  font-family: 'Nanum Myeongjo', sans-serif;
}
td {
  font-family: 'Nanum Myeongjo', sans-serif;
}
span.MuiButton-label-342 {
  font-family: 'Nanum Myeongjo', sans-serif;
}
div.grid-content {
  font-family: 'Nanum Myeongjo', sans-serif;
}
a {
  font-family: 'Nanum Myeongjo', sans-serif;
}

/* 공통 */
.main-description {
  max-width: 95%;
  margin: 1rem 0 1rem 1rem;
}
img {
  max-width: 100%;
  height: auto;
}
.footer {
  max-width: 95%;
  margin: 1rem 0 1rem 1rem;
}

/* 페이지 링크 색상 */
a {
  color: #3273dc;
  text-decoration: none;
}
a:hover {
  color: #7957d5;
}

/* 메인 컴포넌트 */
.grid-content {
  margin: 10px 10px 40px 10px;
  font-size: 13px;
}
.grid-list {
  padding-bottom: 10px;
  margin-left: -15px;
}

/* 로딩 컴포넌트 */
.progress-bar {
  display: flex;
  justify-content: center;
  padding: 3rem;
}
